<%- include ('../partials/header.ejs')%>
<%- include ('../partials/navbar.ejs')%>
<body>
    <h1>Edit entry: <%= post.title %></h1>
    <form action="/post/<%= post.id %>?_method=PUT" method="POST">

        <div class="row">
            <div class="input-feild">
                <input type="text" id="text" name="song" value="<%=post.song%>">
                <label for="song">Song</label>
            </div>
        </div>

        <div class="row">
            <div class="input-feild">
                <input type="text" id="text" name="mood" value="<%=post.mood%>">
                <label for="mood">Mood</label>
            </div>
        </div>

        <div class="row">
            <div class="input-feild">
                <h5>want to edit your thoughts?</h5>
                <input name="body" id="body" cols="30" rows="10" value="<%=post.body%>">
            </div>
        </div>

        <div class="row">
        <input type="submit" class="btn" value="edit entry">
    <%- include ('../partials/footer.ejs')%>
 