<%- include ('../partials/header.ejs')%>
<%- include ('../partials/navbar.ejs')%>
<body>
    <div class="row">
        <div class="col s12 m8">
        <div class="card">
        <div>Mood: </div>
        <div><%= post.mood %></div>
        <div>Song: </div>
        <div><%= post.song %></div>
        <div>thoughs? feelings?: </div>
        <div><%= post.body %></div>
    
    <a href="/post/<%=post.id%>/edit">edit</a>
    <form action="/post/<%= post.id %>?_method=DELETE" method="post">
        <button type="submit">X</button>
    </form>
</div>
</div>
    </div>
<%- include ('../partials/footer.ejs')%>